.footer{
    padding-left:  10px;
    padding-right:  10px;
}
.footer p{
    color: rgba(255, 255, 255, 0.659);
}
.footer-icons{
    background-color: white !important;
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}